doctype html 
html 
    head 
    title = hello pug  
    body 
        p   hello world
        span Span content 
        div 
            p content
            h1 Header one 
            h2 Header two 
            b bold 
            br
            i italics