html
    head 
    title = name
    body
        ul 
           each color in ["Red", "Orange", "Yellow", "Blue"]
                li=color
        ul 
           each fruit, index in fruits
                li This #{fruit} is at index  #{index}        